@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import "tailwindcss";

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

/* Hide scrollbar but keep functionality */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Add these styles for draggable scroll behavior */
.hide-scrollbar.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.hide-scrollbar {
  cursor: grab;
  cursor: -webkit-grab;
}
